<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
          <div class="text-center">
            <h1>Restaurant Signup</h1>
            <h5>Feel free to signup</h5><hr>
            </div>
            <form [formGroup]="signup" (ngSubmit)="signUP()">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label class="form-label">Mobile No</label>
                <input formControlName="mobile" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary">Signup</button>
            </form><br>
            <a routerLink="/login">Already signup? Go to Login!</a>
          </div>
      </div>
    </div>
  </div>

